@import "../../styles/variables.scss";

@mixin tag {
  color: $white;
  padding: 0.2rem 0.5rem;
  border-radius: 10px;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  svg {
    font-size: 13px;
  }
}

.groupCard {
  width: 30rem;
  height: 10rem;
  border-radius: 10px;
  border: 1px solid #e9ecef;
  overflow: hidden;
  position: relative;
  cursor: pointer;

  .removeButton {
    position: absolute;
    z-index: 100;
    background-color: $white;
    border: none;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    top: 40%;
    left: 3%;
    display: flex;
    align-items: center;
    justify-content: center;

    svg path {
      fill: $red;
    }
  }

  .top {
    width: 100%;
    height: 70%;
    position: relative;
    overflow: hidden;

    .tagMembers {
      position: absolute;
      left: 17%;
      top: 1rem;
      background-color: $primary;
      @include tag;
    }

    .tagStart {
      position: absolute;
      left: 28%;
      top: 1rem;
      background-color: $green;
      @include tag;
    }

    .tagEnd {
      position: absolute;
      left: 64%;
      top: 1rem;
      background-color: $red;
      @include tag;
    }

    .image {
      width: 30rem;
    }
  }

  .bottom {
    width: 100%;
    height: 30%;
    background-color: $white;
    display: flex;
    align-items: center;
    padding: 0rem 1rem;

    .groupName {
      margin: 0;
      color: $gray;
      font-size: 1.3rem;
    }
  }
}
