$small: 300px;
$medium: 900px;
$white: #fff;
$primary: #004492;
$primaryLight: #0e68cf;
$secondary: #1e88e5;
$errorRed: #f33;
$lightGray: #a8a8a8;
$gray: #555454;
$dirtyWhite: #f6f6f6;
$indigoGray: #25396f;
$red: #da2700;
$green: #0a8369;
$indigoGrayPalette: (
  400: #929cb7,
  700: #51618c,
  800: #3b4d7e,
);

@mixin icon-button {
  width: 32px;
  height: 32px;
  border-radius: 32px;
  display: flex;
  place-items: center center;
  background-color: transparent;
  transition: all 0.3s;
  line-height: 1;

  svg path {
    fill: $indigoGray;
  }
}
