@import '../../../styles/variables';

.wrapper {
  display: fle;
  flex-direction: column;

  .header {
    font-size: 2rem;
    color: $primary;
  }

  .questions {
    display: flex;
    flex-direction: column;

    .headerCollapse {
      display: flex;
      align-items: center;
      gap: 1rem;
      font-weight: 600;

      svg path {
        fill: $red;
        cursor: pointer;
      }
    }
  }
}
