@import '../../../../styles/variables';

.modal {
  padding: 1.5rem 0;

  .buttonWrapper {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  .inputWrapper {
    width: 100%;

    .input {
      height: 2rem;
    }

    .errorMessage {
      font-size: 1rem;
      color: $errorRed;
    }
  }
}
